<?xml version="1.0" encoding="utf-8"?>
<manifest package="church.lifejourney.bestillknow"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.VIBRATE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:name=".activity.Application">
		<activity
			android:name=".activity.DevListActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.ShowDevotionalActivity"
			android:label="@string/title_activity_show_devotional"
			android:theme="@style/AppTheme.NoActionBar"
			>
		</activity>

		<receiver android:name=".background.DevotionalUpdateAlarmReceiver"
				  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="81484786f44d1dac83f82c82b8873a7acd872ce4"/>
	</application>
</manifest>
